<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Vocab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let d of database">
    <ion-card-header>
      <ion-card-subtitle>GRE/GMAT</ion-card-subtitle>
      <ion-card-title >{{d.name}} Words</ion-card-title>
      <ion-card-subtitle>Words: {{findWords(d.section)}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Levels Completed: {{d.completed}}/{{d.section.length}}
      <div class="button">
        <ion-button color="light" [routerLink]="['/levels', d.level]">
          Go
        </ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
